# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Cache
code/cache/
cache/

# Results
results/
output/

# Logs
*.log

# Temporary files
*.tmp
*.bak

# Virtual environments
.venv/
venv/

# VS Code
.vscode/

# PyCharm
.idea/

data/osmr/
code/notebooks/

# Operating system
.DS_Store
Thumbs.db

# Documents
.docs\docs_mar_san
    