# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Cache
code/cache/

# Resultados
results/
output/

# Logs
*.log

# Archivos temporales
*.tmp
*.bak

# Entornos virtuales
.venv/
venv/

# VS Code
.vscode/

# PyCharm
.idea/

data/osmr/
code/notebooks/